
@model FacturaBC.Models.ViewModels.FacturaEncVM
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "FacturaEnc", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
          
            <div>
                @Html.LabelFor(d => d.codigoCliente)
                <b>Select Tea Type: </b>
                 @Html.DropDownListFor(d=>d.codigoCliente,Model.Clientes,"Seleccione el Cliente")
            </div>
            <div>
                @Html.LabelFor(d => d.fecha)
                @Html.EditorFor(d => d.fecha, "", new { @class = "form-control" })
            </div>
            <br />
            <div style="text-align:right;">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>

        </div>
    </div>
}




